---
import { Image } from "astro:assets";
import Avatar from "../images/avatar.jpg";
import MainLayout from "../layouts/main.layout.astro";
import GithubIcon from "../images/icons/github.astro";
---

<MainLayout title="codenomnom">
  <main>
    <div class="avatar">
      <Image
        src={Avatar}
        alt="that's an image of me"
        width="460"
        height="460"
      />
      &nbsp;
    </div>

    <a
      href="https://github.com/codenomnom/"
      class="github-link"
      title="my github account"
    >
      <GithubIcon />
    </a>

    <div class="projects-title">projects</div>

    <div class="list">
      <a href="https://meaningfulerrors.com" data-status="wip">
        <div class="name">meaningful errors</div>
        <span>
          how to structure errors to bring meaning to any end
        </span>
        <div class="status" title="wip"></div>
      </a>

      <a href="https://codenomnom.github.io/low-probability-prose/" data-status="live">
        <div class="name">low—probability prose</div>
        <span>
          the chronicles of your last token
        </span>
        <div class="status" title="live"></div>
      </a>

      <a href="https://prev-log.com/" data-status="live">
        <div class="name">prev·log</div>
        <span>
          my log of headbangs, when
          <i>Next</i> resulted in <i>prev</i>
        </span>
        <div class="status" title="live"></div>
      </a>

      <a href="https://quirks-mode.com/" data-status="live">
        <div class="name">quirks-mode</div>
        <span>mostly front-end development peculiarities</span>
        <div class="status" title="live"></div>
      </a>

      <a data-status="wip">
        <div class="name">next-recipes</div>
        <span>tips, tricks and instructions on how to handle Next.js</span>
        <abbr class="status" title="wip"></abbr>
      </a>

      <a data-status="wip">
        <div class="name">windsock.dev</div>
        <span>tail winds</span>
        <abbr class="status" title="wip"></abbr>
      </a>

      <a data-status="frozen">
        <div class="name">scratch from start</div>
        <span>how to setup your front-end project</span>
        <abbr class="status" title="frozen"></abbr>
      </a>
    </div>
  </main>
</MainLayout>

<style>
  :root {
    --gray: #333;
    --bg-color: #f5f5f5;
    --col-width: 380px;
    --avatar-size: 8rem;
  }

  main {
    display: flex;
    width: var(--col-width);
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
    position: relative;
  }

  .avatar {
    height: var(--avatar-size);
    position: relative;

    & img {
      display: block; /* inline by default */
      width: var(--avatar-size);
      height: var(--avatar-size);
      border-radius: 50%;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      inset: -2px;
      border: 2px solid var(--bg-color);
      transition: all 0.2s ease-out;
      pointer-events: none;
    }

    &:hover {
      &:after {
        inset: -7px;
        border-width: 4px;
        border-color: var(--gray);
      }
    }
  }

  a {
    text-decoration: none;
    transition: opacity 0.3s ease;

    &:visited,
    &:active,
    &:focus,
    &:focus-visible {
      color: var(--gray);
      outline: 0;
    }
  }

  .github-link {
    svg {
      width: 1.5rem; /* 24px */
      height: 1.5rem; /* 24px */
      margin-top: 1rem; /* 16px */

      color: var(--gray);
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .projects-title {
    margin: 3rem 0 1rem;
    padding: 0.25rem 1rem;
    background-color: rgba(0, 0, 0, 0.04);

    color: var(--gray);
    font-weight: 700;
    font-size: 0.875rem /* 14px */;
    line-height: 1.75rem /* 28px */;
    text-transform: uppercase;
  }

  .list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    & a {
      --cursor: initial;
      --status-size: 6px;
      --status-color: #ddd;

      position: relative;
      padding: 12px 0 12px 4px;
      border-bottom: 1px solid #e3e3e3;
      transition: padding-left 0.3s ease;

      @media (max-width: 768px) {
        /* disables moving around */
        padding-left: 1rem;
        padding-right: 1rem;
      }

      & .name {
        z-index: 1;
        position: inherit;
        color: #ec4899;
        font-size: 16px;
      }

      & span {
        z-index: 2;
        position: inherit;
        font-size: 14px;
        color: var(--gray);
      }

      & .status {
        position: absolute;
        top: calc(50% - var(--status-size) / 2);
        right: calc(12px - var(--status-size) / 2);

        width: var(--status-size);
        height: var(--status-size);
        border-radius: 50%;
        background-color: var(--status-color);
        transition: all 0.2s ease;

        cursor: help;
      }

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        border-radius: 4px;
        transition: background-color 0.3s ease;
      }

      &[data-status="live"] {
        --status-color: #2ec4b6;
        --cursor: pointer;
      }

      &[data-status="wip"] {
        --cursor: progress;
        --status-color: #ffb703;
      }

      &[data-status="frozen"] {
        --cursor: not-allowed;
        --status-color: #457b9d;
      }

      &:hover {
        cursor: var(--cursor);
        padding-left: 24px;
        --status-size: 8px;

        @media (max-width: 768px) {
          padding-left: 1rem;
        }

        &:before {
          background-color: #eee;
        }
      }
    }
  }
</style>
