---
import { Image } from "astro:assets";
import Avatar from "../images/avatar.jpg";
import MainLayout from "../layouts/main.layout.astro";
import GithubIcon from "../images/icons/github.astro";
---

<MainLayout title="codenomnom">
  <main>
    <div class="avatar">
      <Image
        src={Avatar}
        alt="that's an image of me"
        width="460"
        height="460"
      />
      &nbsp;
    </div>

    <a
      href="https://github.com/codenomnom/"
      class="github-link"
      title="my github account"
    >
      <GithubIcon />
    </a>

    <div class="projects-title">projects</div>

    <ul>
      <li>
        <div>quirks-mode</div>
        <span>mostly front-end development peculiarities</span>
      </li>

      <li>
        <div>scratch from start</div>
        <span>how to setup your front-end project</span>
      </li>

      <li>
        <div>next-recipes</div>
        <span>tips, tricks and instructions on how to handle Next.js</span>
      </li>

      <li>
        <div>windsock.dev</div>
        <span>tail winds</span>
      </li>
    </ul>
  </main>
</MainLayout>

<style>
  :root {
    --gray: #333;
    --bg-color: #f5f5f5;
    --col-width: 360px;
    --avatar-size: 8rem;
  }
  main {
    display: flex;
    width: var(--col-width);
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
    position: relative;
  }

  .avatar {
    height: var(--avatar-size);
    position: relative;

    & img {
      display: block; /* inline by default */
      width: var(--avatar-size);
      height: var(--avatar-size);
      border-radius: 50%;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      inset: -2px;
      border: 2px solid var(--bg-color);
      transition: all 0.2s ease-out;
      pointer-events: none;
    }

    &:hover {
      &:after {
        inset: -7px;
        border-width: 4px;
        border-color: var(--gray);
      }
    }
  }

  .github-link {
    transition: opacity 0.3s ease;
    svg {
      width: 1.5rem; /* 24px */
      height: 1.5rem; /* 24px */
      margin-top: 1rem; /* 16px */

      color: var(--gray);
    }

    &:hover {
      opacity: 0.7;
    }
    &:visited, &:active, &:focus, &:focus-visible {
      color: var(--gray);
      outline: 0;
    }
  }

  .projects-title {
    margin: 3rem 0 2rem;
    padding: 0.25rem 1rem;
    background-color: rgba(0, 0, 0, 0.04);

    color: var(--gray);
    font-weight: 700;
    font-size: 0.875rem /* 14px */;
    line-height: 1.75rem /* 28px */;
    text-transform: uppercase;
  }

  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      position: relative;
      padding: 18px 0 6px 0;
      border-bottom: 1px solid #ddd;
      transition: padding-left 0.3s ease;

      @media (max-width: 768px) { /* disables moving around */
        padding-left: 1rem;
        padding-right: 1rem;
      }

      & div {
        z-index: 1;
        position: inherit;
        color: #ec4899;
        font-size: 16px;
      }

      & span {
        z-index: 2;
        position: inherit;
        font-size: 14px;
      }

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        border-radius: 4px;
        transition: background-color 0.3s ease;
      }

      &:hover {
        cursor: wait;
        padding-left: 24px;

        @media (max-width: 768px) {
          padding-left: 1rem;
        }

        &:before {
          background-color: #eee;
        }
      }
    }
  }
</style>
